* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", serif;
}

body {
    height: 100%;
}

.center-block {
    display: flex;
    height: 100%;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.table-float,
table {
    width: 599px;
}

td {
    padding: 15px 35px;
    color: black;
    background-color: #c5deeb;
}

.left-col {
    padding: 15px 80px 15px 15px;
}

.td {
    height: 48px;
    text-align: center;
    line-height: 48px;
    color: black;
    background-color: #c5deeb;
}

.th:not(:first-child) {
    text-align: center;
    line-height: 48px;
}

.th {
    font-weight: bold;
}

th,
.left-col,
.th {
    color: white;
    background-color: #93cae6;
}

.th,
.td {
    width: calc(18% - 2px);
}

.table-left-col {
    height: 48px;
    width: calc(28% - 2px);
    padding-left: 15px;
    line-height: 48px;
    color: white;
    background-color: #93cae6;
}

.tr>* {
    float: left;
    margin: 0 2px 2px 0;
}